<script type="text/javascript">

$(document).ready (function() {
	mixpanel.track("About page visited");
});


</script>


<div class="container">
<h4>Hi, I'm Zahid, and this is <span style= "color:#FF840D; font-weight: bold;">my very first Rails application.</span></h4>

<p>
This site was built to settle a bet: <strong>Which video won Youtube?</strong> I hope that we can collect enough votes to truly declare a winner.
</p>

<p>
If you're interested in checking out some other stuff I've done, the first website I built (yes, ever) is at <a href="http://www.iwishiwasakidagain.com">iwishiwasakidagain.com</a>.
</p>

<p>
<strong>One more thing:</strong> If you think I've missed an epic clip (sorry...), feel free to  add it. Then, leave it to the mercy of the crowd. <sttrong>Now get voting!</strong>
</p>

</div>